@import '~bootstrap';

@import url('https://rsms.me/inter/inter.css');
:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}
body {
    font-feature-settings: "cv03", "cv04", "cv11";
}

body {
    background-color: lightgray;
}

#nav {
    position:fixed;
    width: 280px;
    z-index: 1000;
    left: 0;
    top: 0;
    border-right: 1px solid #162636;
    height: 100%;
}

.active {
    background-color:  rgb(59, 69, 89);
}